{#
/**
* @file
* Theme override to display a header in page.
*
* Regions:
* - page.site_branding: Logo.
* - page.header: header.
* - page.primary_menu: primary menu.
*/
#}
{% import '@medical_website/custom/macros/header.twig' as headerext %}
{{ attach_library('medical_website/component-header-style') }}
<div class="container-fluid header">
    <nav class="navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><b class="brandco" id="swattention" onclick="largetext()">
           {{ page.site_branding }}</b></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav p-2 ms-auto">
                            {{ headerext.header(page.header, 'nav-link') }}
                </ul>
            </div>
        </div>
    </nav>

    <div>
        {{ headerext.header(page.primary_menu, 'nav-link primary-menu') }}
    </div>
</div>