{#
/**
* @file
* Theme override to display a footer in page.
*
* Regions:
* - page.footer_first: Footer first.
* - page.footer_second: Footer second.
* - page.footer_third: Footer third.
* - page.footer_fourth: Footer fourth.
*/
#}
{% import '@medical_website/custom/macros/footer.twig' as footerext %}
{{ attach_library('medical_website/component-footer-style') }}
<div class="d-flex justify-content-center pagen">
    <div> {{page.footer}}
<marquee class="p-1 trustline">5%to70% Discount</marquee>

        <ul class="pagination mt-3">
            <li class="page-item"><a class="page-link rounded-3 colortext" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link rounded-circle colortext" href="/node">1</a></li>
            <li class="page-item"><a class="page-link rounded-circle colortext" href="/node/202">2</a></li>
            <li class="page-item"><a class="page-link rounded-circle colortext" href="#">3</a></li>
            <li class="page-item"><a class="page-link rounded-3 colortext" href="#">Next</a></li>
        </ul>
    </div>
</div>
<footer class="container-fluid footer-wrapper">
    <section class="row text-white pt-2">
            {{ footerext.footer(page.footer_first, 'col-lg-3 col-sm-12 footer-first') }}
        {{ footerext.footer(page.footer_second, 'col-lg-3 col-sm-12 footer-second') }}
        {{ footerext.footer(page.footer_third, 'col-lg-3 col-sm-12 footer-third') }}
        {{ footerext.footer(page.footer_fourth, 'col-lg-3 col-sm-12 footer-fourth') }}
    </section>
    <div class="pagen text-center text-white">{{page.footer_bottom}}
    #Copyright. "All rights reserved". <i>Website developed by <b>@ms</b></i>
    </div>
</footer>