$Eucalyptus: #28a745;
$Seashell:#F1F1F1;
$Cararra:#cee7dc8a;
$Camarone:#006B00;
$Pink:#FFC0CB;
$Mako:#424A52;
$PastelGreen:#5BEB6E;
$Bunker:#101718;
$Shark:#212529;
$White:#FFFFFF;
$Black:#000000;
$Wisteria:#9873B7;
$Viking:#65d7cc;
$Yellow:#FFFF00;
$Blue:#1002E8;
$BabyBlue:#e0ffff;
$Sushi:#8BC34A;
$Athsspecial:#f0ead6;
$LightOrchid:#E8B5CE;
$JapaneseLaurel:#008000;
$PastelGreen:#81F090;
$ElectricViolet:#8403F9;
$EasternBlue:#20b2aa;
$Pomegranate:#F44336;
$BlueDianne:#1f4d56c2;
$MonteCarlo:#83d1c4;
$CloudBurst:#1F2947;
$BrightTurquoise:#1EEFAC;
$header-font: Arial, Helvetica, sans-serif;
$middledisplay-font:Verdana, Geneva, Tahoma, sans-serif;
$serif:serif;
