.card-footer {
  text-align: center;
  border: 3px solid #F1F1F1;
  background: #28a745;
  font-family: Arial, Helvetica, sans-serif; }

.card-title {
  color: #000000;
  margin-bottom: 0;
  margin-top: -15px; }

.card {
  background-color: #cee7dc8a;
  border: 1px solid #1EEFAC; }

.card-img-top {
  border-radius: 15px;
  border: 1px solid #000000; }

.flexservice {
  color: #FFFFFF; }

/*# sourceMappingURL=card.css.map */
