footer {
  background: #424A52; }

.pagen {
  background: #424A52; }

.colortext {
  color: #81F090;
  background: #101718; }

.form-control:focus {
  background: #212529; }

/*# sourceMappingURL=footer.css.map */
