#bgcontainer {
  background-color: #e0ffff; }

#block-specialoffer {
  background-color: #cee7dc8a; }

.display-4 {
  color: #008000;
  text-shadow: 2px 2px #81F090;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.lead {
  font-size: 1.45rem;
  font-weight: 800;
  color: #8403F9;
  padding-bottom: 0px; }

.my-4 {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important; }

hr {
  border-top: 3px solid #20b2aa;
  margin-left: 30%;
  margin-right: 30%;
  opacity: 0.75; }

.trustline {
  color: #F44336;
  font-size: 2rem; }

.mb-4 {
  -webkit-box-shadow: 12px 8px 5px 0px #1f4d56c2;
          box-shadow: 12px 8px 5px 0px #1f4d56c2;
  margin-bottom: 4.5rem !important; }

.midcontent {
  background-color: #f0ead6; }

.sidebar {
  background-color:#E8B5CE; }

i {
  padding: 2px; }

.ic {
  color: #1F2947;
  font-size: 35px; }

.sicons {
  font-size: 40px;
  color: #83d1c4; }

.sicons:hover {
  color: #20b2aa; }

.blocktitle {
  text-shadow: 1px 1px #81F090;
  color: #F44336;
  font-size: 2.5rem; }

.container-fluid {
  padding-right: 0px;
  padding-left: 4px; }

/*# sourceMappingURL=middlecontent.css.map */
