.header {
  background-color: #e0ffff; }

nav .navbar-expand-sm.navbar-collapse {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
      flex-basis: auto; }

nav .navbar-collapse {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

nav .navbar {
  padding: .4rem .1rem; }

nav .brandco {
  color: #006B00; }

nav .nav-item {
  background-color: #65d7cc !important;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  font-family: serif; }

nav .nav-link:hover {
  background-color: #FFC0CB; }

nav .navbar-light .navbar-nav .nav-link {
  color: #1002E8; }

nav .dropdown-item {
  padding: 0.35rem 0.5rem;
  font-weight: 600;
  color: #006B00;
  border: 1px dotted #8BC34A; }

.dropdowndrupal {
  display: none; }

/*# sourceMappingURL=navbar.css.map */
