@import "./utilities/variables";

.card-footer{
    text-align: center;
    border: 3px solid $Seashell;
    background:$Eucalyptus;
    font-family: $header-font;
}
.card-title{
    color: $Black;
    margin-bottom:0;
    margin-top: -15px;
}
.card{
    background-color:$Cararra;
    border: 1px solid $BrightTurquoise;
    }
.card-img-top{
    border-radius:15px;
    border:1px solid $Black;
    }
.flexservice{
    color:$White;
    }


