@import "./utilities/variables";

footer {
    background:$Mako;
}

.pagen{
    background:$Mako;
}

.colortext{ 
    color:$PastelGreen;
    background:$Bunker;
}

.form-control:focus {
    background:$Shark;
}