@import "./utilities/variables";
    #bgcontainer {
        background-color: $BabyBlue;
    }
    #block-specialoffer{
      background-color: $Cararra;
    }
    .display-4 {
        color: $JapaneseLaurel;
        text-shadow:2px 2px  $PastelGreen;
        font-weight: 700;
        font-family: $middledisplay-font;
    }

    .lead {
        font-size: 1.45rem;
        font-weight: 800;
        color: $ElectricViolet;
        padding-bottom: 0px;
    }

    .my-4 {
        margin-bottom: 0.5rem !important;
        margin-top: 0.5rem !important;
    }

    hr {
        border-top: 3px solid $EasternBlue;
        margin-left: 30%;
        margin-right: 30%;
        opacity:0.75;
    }

    .trustline {
        color: $Pomegranate;
        font-size: 2rem;
    }

    .mb-4 {
        box-shadow: 12px 8px 5px 0px $BlueDianne;
        margin-bottom: 4.5rem !important;
    }

    .midcontent{
        background-color:$Athsspecial;
    }
    .sidebar{
        background-color:$LightOrchid;
    }
//icons
   i {
        padding: 2px;
     }

   .ic{
     color:$CloudBurst;
     font-size:35px;
    }
    .sicons{
      font-size:40px;
      color: $MonteCarlo;
    }
    .sicons:hover{
        color:$EasternBlue;
    }

    .blocktitle{
        text-shadow:1px 1px  $PastelGreen; 
        color: $Pomegranate;
        font-size: 2.5rem;
    }

    .container-fluid{
        padding-right: 0px;
        padding-left: 4px;
    }