@import "./utilities/variables";

.header{
    background-color: $BabyBlue;
}

nav{
    .navbar-expand-sm.navbar-collapse {
        display: flex !important;
        flex-basis: auto;
    }

    .navbar-collapse {
        flex-grow: 1;
        align-items: center;
    }

    .navbar {
        padding: .4rem .1rem;
    }

    .brandco {
        color:$Camarone;
    }

    .nav-item {
        background-color: $Viking !important;
        border: 1px solid $White;
        border-radius: 10px;
        font-family: $serif;
        }

    .nav-link:hover {
        background-color:$Pink;
    }

    .navbar-light{
        .navbar-nav {
            .nav-link {
                color:$Blue;
            }
        }
    }

    .dropdown-item {
        padding: 0.35rem 0.5rem;
        font-weight: 600;
        color:$Camarone;
        border: 1px dotted $Sushi;
    }
}

.dropdowndrupal{
    display:none;
  }