
<div id="error-page" class="404_page h-100 bg-info">
    <div class="text-center">
        <h2 data-text="404">
            {{ 'oops 404 error'|t }}
        </h2>
          {{ medical_website.content_404 | raw }}
        <div class="d-flex align-items-center justify-content-center">
        <h4>PAGE NOT FOUND.</h4>
        <div> 
        <a href="http://drupal9.lndo.site:8000/" class="btn btn-warning btn-sm text-center"> Go To HomePage>><a>
        </div>
        </div>
    </div>
</div>