<div id="unauthorized-page" class="401_page">
    <div class="content">
        <h2 data-text="401">
            {{ 'oops! 401error'|t }}
        </h2>
                  {{ medical_website.content_401 | raw }}
        <div class="d-flex align-items-center justify-content-center">
        <h3>unauthorized access</h3>
        </div>
    </div>
</div>