{#
/**
* @file
* Theme override to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template in this directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
* "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
* administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
* linking to the front page. This includes the language domain or prefix.
*
* Page content (in order of occurrence in the default page.html.twig):
* - node: Fully loaded node, if there is an automatically-loaded node
* associated with the page and the node ID is the second argument in the
* page's path (e.g. node/12345 and node/12345/revisions, but not
* comment/reply/12345).
*
* Regions:
* - page.site_branding: Items for the logo region.
* - page.header: Items for the header region.
* - page.primary_menu: Items for the primary menu region.
* - page.highlighted: Items for the highlighted content region.
* - page.help: Dynamic help text, mostly for admin pages.
* - page.content: The main content of the current page.
* - page.content_top: The main content content_top of the current page.
* - page.content_bottam: The main content content_bottam of the current page.
* - page.sidebar_first: Items for the first sidebar.
* - page.footer: Items for the footer region.
* - page.footer_first: Items for the footer_first region.
* - page.footer_second: Items for the footer_second region.
* - page.footer_third: Items for the footer_third region.
* - page.footer_fourth: Items for the footer_fourth region.

*
* @see template_preprocess_page()
* @see html.html.twig
*/
#}
{% set exfooter = '@medical_website/custom/includes/footers/footer.html.twig' %}
{% set exheader = '@medical_website/custom/includes/headers/header.html.twig' %}

{% include exheader %}
<section class="container-fluid">
    <div class="row text-center bg-sucess">
        {{page.help}}
    </div>
</section>
<section class="container-fluid">
        {{ page.content_top }}
    </section>
<section class="container-fluid">
    <div class="row">
        {% if page.sidebar_first %}
        <div class="col-md-2 sidebar"><div>{{ page.sidebar_first }}</div></div>
        {% endif %}
        {%
        set content_classes = [
        page.sidebar_first ? 'col-md-10  midcontent',
        page.sidebar_first is empty ? 'col-12 midcontent'
        ]
        %}
        <div {{ content_attributes.addClass(content_classes) }}> {{page.content}} </div>
    </div>
    <div class="bg-secondary container-fluid">{{page.content_bottom}}</div>
</section>

{% include exfooter %}